<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink = "personas" routerLinkActive="active" class="nav-link">Lista de Personas</a>
        </li>
        <li class="nav-item">
            <a routerLink = "registropersona" routerLinkActive="active" class="nav-link">Registro de Personas</a>
        </li>
        <li class="nav-item">
            <a routerLink = "modificarpersona" routerLinkActive="active" class="nav-link">Modificar</a>
        </li>
        <li class="nav-item">
            <a routerLink = "deletepersona" routerLinkActive="active" class="nav-link">Eliminar Personas</a>
        </li>
    </ul>
</nav>


<h1 class="text-center">{{title}} </h1>
<div class="container">
    <router-outlet></router-outlet>

</div>